body {
	padding: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

// CONTAINER
.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr min-content;
	grid-gap: 1rem;
	justify-content: space-between;
	width: 100%;
	max-width: 90rem;
	height: calc(100vh - 8rem);
	max-height: 600px;
	margin: auto;
	background: $color-red;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 0 0 darken($color-red, 10%), 0 0.5rem 2rem 0 rgba(black, 0.3);
	padding: 2.5rem;

	@media only screen and (min-width: $breakpoint-large) {
		width: 90rem;
	}

	@media only screen and (min-width: $breakpoint-small) {
		grid-gap: 3rem;
		grid-template-columns: 65% 1fr;
		grid-template-rows: 1fr;
	}
}

// MAIN SCREEN
.main-screen {
	background-color: $color-beige;
	border-radius: 0.5rem;
	padding: 2rem;
	font-family: $display-font;
	color: $color-black;
	overflow: auto;
	max-height: calc(600px - 5rem);

	.main-screen__title {
		font-size: 3rem;
		font-weight: normal;
		text-transform: capitalize;
	}

	.main-screen__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		font-size: 1.8rem;
		margin-bottom: 2rem;

		.main-screen__list-item {
			flex: 1 0 46.5%;
			margin: 0.5rem 1.5%;
			padding: 0.5rem;
			border-bottom: 2px dotted darken($color-beige, 10%);
			transition: all 0.1s ease-in;
			text-transform: capitalize;

			&:hover {
				border-bottom: 2px dotted $color-green;
				cursor: pointer;
				color: $color-green;
			}

			&.selected {
				border-bottom: 2px dotted $color-blue;
				color: $color-blue;
			}
		}

		.main-screen__list-item-prefix {
			font-size: 1.5rem;
		}
	}

	.main-screen__controls {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 1rem 0;
		position: sticky;
		top: -2rem;
		background: $color-beige;

		.main-screen__button {
			border: none;
			background: none;
			font-family: inherit;
			font-size: 1.4rem;
			margin-right: 1rem;
			padding: 1rem;
			transition: all 0.1s ease-in;
			border: 2px dotted darken($color-beige, 10%);
			-webkit-appearance: none;
			-moz-appearance: none;

			&:hover {
				cursor: pointer;
				color: $color-green;
				border: 2px dotted $color-green;
			}

			&.selected {
				color: $color-blue;
				border: 2px dotted $color-blue;
			}

			&:disabled {
				pointer-events: none;
			}
		}

		.main-screen__index {
			display: none;

			@media only screen and (min-width: $breakpoint-small) {
				display: block;
				margin-left: auto;
				font-size: 1.2rem;
			}
		}
	}

	.stats {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		height: 100%;
		align-items: start;

		@media only screen and (min-width: $breakpoint-large) {
			grid-template-columns: repeat(4, 1fr);
		}

		.title {
			grid-column: span 2;
			@extend .main-screen__title;

			@media only screen and (min-width: $breakpoint-large) {
				grid-column: span 4;
			}
		}

		.stats-image {
			grid-column: span 1;
			img {
				width: 100%;
				filter: grayscale(100%);
				mix-blend-mode: multiply;
				border: 2px dotted darken($color-beige, 10%);
			}
		}

		.stats-overall {
			grid-column: span 2;
			font-size: 2rem;
			display: flex;
			flex-wrap: wrap;
			align-content: start;

			> div {
				margin-bottom: 1rem;
			}

			.stats-prefix {
				text-transform: uppercase;
				display: block;
				font-size: 1.6rem;
			}

			.stats-entry {
				flex: 0 0 50%;
			}

			.stats-type {
				div {
					display: inline-block;
					text-transform: capitalize;
					margin-right: 1rem;
				}
			}
		}

		.stats-base {
			grid-column: span 2;
			font-size: 1.6rem;
			text-transform: capitalize;
			list-style: none;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 0.75rem 2rem;

			@media only screen and (min-width: $breakpoint-large) {
				grid-column: span 4;
				grid-template-columns: repeat(2, 1fr);
			}

			li {
				border-bottom: 2px dotted darken($color-beige, 10%);
				display: inline-block;
				padding-bottom: 0.75rem;
			}
		}

		.stats-controls {
			grid-column: span 2;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 2rem 2rem;
			padding-bottom: 2rem;

			@media only screen and (min-width: $breakpoint-large) {
				grid-column: span 4;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 0 2rem;
			}

			.stats-controls__button {
				display: flex;
				font-family: inherit;
				text-align: left;
				line-height: 1.5;
				align-items: center;
				margin: 0;
				padding: 0;
				background: none;
				border: 2px dotted darken($color-beige, 10%);
				-webkit-appearance: none;
				-moz-appearance: none;
				transition: all 0.2s ease-in;

				&:hover {
					cursor: pointer;
					border: 2px dotted darken($color-beige, 30%);
				}
			}

			.stats-controls__image {
				filter: grayscale(100%);
				mix-blend-mode: multiply;
			}

			.stats-controls__navigation {
				display: block;
				font-size: 1.4rem;
			}

			.stats-controls__title {
				font-size: 1.6rem;
			}
		}
	}
}

// SIDEBAR
.sidebar {
	display: flex;
	flex-direction: column;
	max-height: calc(600px - 5rem);
}

// SUB-SCREEN
.sub-screen {
	display: none;
	@extend .main-screen;
	height: 20rem;
	font-size: 1.4rem;

	@media only screen and (min-width: $breakpoint-medium) and (min-height: $breakpoint-height) {
		display: block;
	}
}

// STATUS BAR
.status-bar {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 1rem;
	margin-bottom: 1rem;

	.status-bar__item {
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.status-bar__light {
		display: block;
		margin: 1rem;
		width: 9px;
		height: 9px;
		border-radius: 100%;
		background-color: black;
		box-shadow: 0 1px 0 rgba(black, 0.2);

		&.status-bar__light--green {
			background-color: $color-green;
		}
		&.status-bar__light--red {
			background-color: darken($color-red, 20%);
		}
	}

	.status-bar__title {
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: bold;
		color: darken($color-red, 22%);
	}
}

// CONTROLS
@mixin hover-states($hover-color) {
	background-color: $hover-color;
	box-shadow: 0 4px 0 darken($hover-color, 20%);
	&.selected {
		transform: translateY(-4px);
		box-shadow: 0 8px 0 darken($hover-color, 20%);
		cursor: pointer;
	}
	&:active {
		transform: translateY(4px);
		box-shadow: 0 0px 0 darken($hover-color, 20%);
	}
}

.controls {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	margin-top: auto;
	backface-visibility: hidden;

	[class^="controls"] {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background: grey;
		color: white;
		font-size: 1.75rem;
		text-transform: uppercase;
		font-weight: bold;
		padding: 1.25rem;
		border-radius: 5px;
		letter-spacing: 2.5px;
		text-shadow: 0 1px 0 rgba(black, 0.3);
		transition: all 0.15s ease-in;
		-webkit-appearance: none;
		-moz-appearance: none;
	}

	.controls__up,
	.controls__down {
		@include hover-states($color-blue);
	}

	.controls__enter {
		@include hover-states($color-green);
	}

	.controls__return {
		@include hover-states($color-grey);
	}
}
